# Git Changelog changelog

Changelog of Git Changelog.

{{#tags}}

## [{{name}}](https://github.com/neo4j/neo4j/releases/tag/{{name}})

{{#labels}}
### {{name}}

 {{#issues}}
     {{#commits}}
* {{{messageTitle}}} [{{hash}}](https://github.com/neo4j/neo4j/commit/{{hash}}), {{issue}} ({{title}})
     {{/commits}}
 {{/issues}}

{{/labels}}
{{/tags}}